## Student Information
Name: Pohao-Henry Lin Huang

Student ID: 103032027

GitHub ID: [phlinhng](https://github.com/phlinhng)

---

## Table of Contents
### Part 1: Take Home Exercises
1. Exercise 5
2. Exercise 6

### Part 2: Operation with New Datasets
1.	Data Source
2.	Data Preparation
3.	Data Transformation
*	3.1 Converting Dictionary into Pandas dataframe
*	3.2 Familiarizing yourself with the Data
4.	Data Mining using Pandas
*	4.1 Dealing with Missing Values
*	4.2 Dealing with Duplicate Data
5.	Data Preprocessing
*	5.1 Sampling
*	5.2 Feature Creation
*	5.3 Feature Subset Selection
*	5.4 Dimensionality Reduction
*	5.5 Atrribute Transformation / Aggregation
*	5.6 Discretization and Binarization

## Part 1: Take Home Exercises

In [1]:
# necessary for when working with external scripts
%load_ext autoreload
%autoreload 2

In [2]:
# categories
categories = ['alt.atheism', 'soc.religion.christian', 'comp.graphics', 'sci.med']

In [3]:
# obtain the documents containing the categories provided
from sklearn.datasets import fetch_20newsgroups

twenty_train = fetch_20newsgroups(subset='train', categories=categories, \
                                  shuffle=True, random_state=42)

In [5]:
import pandas as pd

# my functions
import helpers.data_mining_helpers as dmh

# construct dataframe from a list
X = pd.DataFrame.from_records(dmh.format_rows(twenty_train), columns= ['text'])

In [7]:
# add category to the dataframe
X['category'] = twenty_train.target

In [8]:
# add category label also
X['category_name'] = X.category.apply(lambda t: dmh.format_labels(t, twenty_train))

### Exercise 5
Please check the data and the process below, describe what you observe and why it happened.

In [14]:
import numpy as np

NA_dict = [{ 'id': 'A', 'missing_example': np.nan },
           { 'id': 'B'                    },
           { 'id': 'C', 'missing_example': 'NaN'  },
           { 'id': 'D', 'missing_example': 'None' },
           { 'id': 'E', 'missing_example':  None  },
           { 'id': 'F', 'missing_example': ''     }]

NA_df = pd.DataFrame(NA_dict, columns = ['id','missing_example'])
NA_df

  id missing_example
0  A             NaN
1  B             NaN
2  C             NaN
3  D            None
4  E            None
5  F

In [13]:
NA_df['missing_example'].isnull()

0     True
1     True
2    False
3    False
4     True
5    False
Name: missing_example, dtype: bool

#### Answer
Since `isnull()` only treats **na.nan and (blank)** as missing value. But id c,d,and e are **strings** with words **"NaN"** , **"None"** and **'\n'**, so `isnull()` sees them as values and returns false.

### Exercise 6
Notice any changes to the X dataframe? What are they? Report every change you noticed as compared to the previous state of X. Feel free to query and look more closely at the dataframe for these changes.

In [16]:
X_sample = X.sample(n=1000)

In [19]:
len(X_sample)

1000

In [20]:
len(X)

2257

In [24]:
X[-10:]

,text,category,category_name
2247,From: daniels@math.ufl.edu (TV's Big Dealer) S...,3,soc.religion.christian
2248,"From: ""danny hawrysio"" <danny.hawrysio@canrem....",1,comp.graphics
2249,From: shellgate!llo@uu4.psi.com (Larry L. Over...,3,soc.religion.christian
2250,From: ingles@engin.umich.edu (Ray Ingles) Subj...,0,alt.atheism
2251,From: Mark-Tarbell@suite.com Subject: Amniocen...,2,sci.med
2252,From: roos@Operoni.Helsinki.FI (Christophe Roo...,2,sci.med
2253,From: mhollowa@ic.sunysb.edu (Michael Holloway...,2,sci.med
2254,From: sasghm@theseus.unx.sas.com (Gary Merrill...,2,sci.med
2255,From: Dan Wallach <dwallach@cs.berkeley.edu> S...,2,sci.med
2256,From: dyer@spdcc.com (Steve Dyer) Subject: Re:...,2,sci.med

#### Answer
Everything remain the same in X. Function `sample` only create a partial copy of X, so there is no overwrite couducted on the original dataset, X.

## Part 2: Operation with New Datasets